Node-RED/smartGarage.json
[{"id":"f9ea9c9c.b2568","type":"tab","label":"IOT SmartGarage","disabled":false,"info":""},{"id":"b06e2ed0.662ab","type":"inject","z":"f9ea9c9c.b2568","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"open","payloadType":"str","x":290,"y":160,"wires":[["2b9b71e0.e5136e"]]},{"id":"2b9b71e0.e5136e","type":"mqtt out","z":"f9ea9c9c.b2568","name":"","topic":"/garage_command","qos":"","retain":"","broker":"a520b4cf.59a898","x":570,"y":220,"wires":[]},{"id":"41e5dc81.2b07d4","type":"debug","z":"f9ea9c9c.b2568","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":80,"wires":[]},{"id":"33bfc40a.c6956c","type":"inject","z":"f9ea9c9c.b2568","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"close","payloadType":"str","x":290,"y":280,"wires":[["2b9b71e0.e5136e"]]},{"id":"b83d1b40.05fcf8","type":"mqtt in","z":"f9ea9c9c.b2568","name":"","topic":"/garage_command","qos":"2","datatype":"auto","broker":"a520b4cf.59a898","x":310,"y":80,"wires":[["2d95ebfc.45a6e4"]]},{"id":"2d95ebfc.45a6e4","type":"function","z":"f9ea9c9c.b2568","name":"","func":"if(msg.payload == \"open\" || msg.payload == \"close\"){\n    msg.payload = \"Command received: \" + msg.payload;\n    return msg;\n}else{\n    msg.payload = \"Invalid command received!\"\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":80,"wires":[["41e5dc81.2b07d4"]]},{"id":"a520b4cf.59a898","type":"mqtt-broker","name":"MQTT Broker","broker":"192.168.0.169","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]